/* Please follow these rules when creating the rules in your CSS file.

You must put one blank line between rules
You must put an open curly brace on the same line as the selector
You must put a close curly brace on a new line
All property-value pairs in the CSS rule must be indented
*/

html {
    background-color: beige;
}

body {
    margin: 0;
}

header {
    padding: 24px;
}

main {
    max-width: 800px;
    margin: auto;
}

footer {
    background-color: burlywood;
    padding: 24px;
}

.book-cover {
    width: 200px;
    height: auto;
}

.main-page-book-review {
    background-color: white;
}